In [34]:
import requests # librairy use , url hit karega and json data ko python mai leke aayega
import pandas as pd

In [35]:
df = pd.DataFrame()

In [41]:
response = requests.get('https://api.themoviedb.org/3/movie/popular?language=en-US&page=1&api_key=51566c3235153d1ad6b26394aaa1791a').json()

In [4]:
## http status code
# 404 -> not found
# 403 -> bad gateway
# 200 -> request sucessfull

In [39]:
popularity=[]
vote_average = []
title = []
release_date = []
original_title = []
vote_count = []
overview = []
original_language = []

for i in response['results']:

    popularity.append(i['popularity'])
    vote_average.append(i['vote_average'])
    title.append(i['title'])
    release_date.append(i['release_date'])
    original_title.append(i['original_title'])
    vote_count.append(i['vote_count'])
    overview.append(i['overview'])
    original_language.append(i['original_language'])


d={'title':title,'overview':overview,'original_language':original_language,'release_date':release_date,'popularity':popularity,'vote_count':vote_count,'vote_average':vote_average}
df = pd.DataFrame(d)
df.shape

KeyError: 'results'

In [40]:
final = pd.DataFrame()

# The maximum allowed page is 500
for j in range(1, 501):
    url = f'https://api.themoviedb.org/3/movie/popular?language=en-US&page={j}&api_key=51566c3235153d1ad6b26394aaa1791a'
    response = requests.get(url).json()
    
    # Check if 'results' key exists in response
    if 'results' not in response:
        print(f"Page {j}: {response.get('status_message', 'Unknown error')}")
        continue

    popularity = []
    vote_average = []
    title = []
    release_date = []
    original_title = []
    vote_count = []
    overview = []
    original_language = []

    for i in response['results']:
        popularity.append(i['popularity'])
        vote_average.append(i['vote_average'])
        title.append(i['title'])
        release_date.append(i['release_date'])
        original_title.append(i['original_title'])
        vote_count.append(i['vote_count'])
        overview.append(i['overview'])
        original_language.append(i['original_language'])

    d = {
        'title': title,
        'overview': overview,
        'original_language': original_language,
        'release_date': release_date,
        'popularity': popularity,
        'vote_count': vote_count,
        'vote_average': vote_average
    }
    df = pd.DataFrame(d)
    final = pd.concat([final, df], ignore_index=True)

In [42]:
final

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,War of the Worlds,Will Radford is a top analyst for Homeland Sec...,en,2025-07-29,1181.4284,405,4.300
1,F1,Racing legend Sonny Hayes is coaxed out of ret...,en,2025-06-25,817.1810,1421,7.800
2,Mission: Impossible - The Final Reckoning,Ethan Hunt and team continue their search for ...,en,2025-05-17,748.7356,1385,7.247
3,Superman,"Superman, a journalist in Metropolis, embarks ...",en,2025-07-09,715.9933,2566,7.563
4,Eenie Meanie,A former teenage getaway driver gets dragged b...,en,2025-08-21,568.7198,51,7.000
...,...,...,...,...,...,...,...
9995,A Fox Hunt,A provincial Soviet town. Factory worker Victo...,ru,1980-12-22,3.9046,10,4.700
9996,Veerappan,The journey of the world's most notorious sand...,hi,2016-05-27,4.3637,5,5.900
9997,Major Vetrov,"A propaganda film about Major Roman Vetrov, a ...",ru,2007-08-09,4.2708,1,1.000
9998,El Nems,"Al Nems is a quarreling microbus driver, and h...",ar,2000-01-08,5.0702,1,4.000
9999,Petisos,"In a family of short lineage, they are forbidd...",es,2018-10-01,4.6293,1,4.000

In [43]:
final.to_csv('movies.csv')