### web-scraping

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [3]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [4]:
soup = BeautifulSoup(webpage,'lxml')

In [5]:
company = soup.find_all('div',class_='companyCardWrapper')

In [6]:
len(company)

20

In [67]:
name = []
rating = []
reviews = []
salaries = []
jobs = []
for i in company:
    name.append(i.find('h2',class_='companyCardWrapper__companyName').text.strip())
    rating.append(i.find(class_='rating_star_container').find(class_="rating_text rating_text--md").text.strip())
    salaries.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[1].text)
    reviews.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[0].text)
    jobs.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[3].text)
    
d = {'name': name, 'rating': rating, 'reviews': reviews, 'salaries': salaries, 'jobs': jobs}

df = pd.DataFrame(d)

In [68]:
df

                      name rating        reviews        salaries       jobs
0                      TCS    3.5     1L Reviews   9.5L Salaries    93 Jobs
1                Accenture    3.7  65.6k Reviews   6.3L Salaries   29k Jobs
2                    Wipro    3.7    59k Reviews   4.7L Salaries  5.8k Jobs
3                Cognizant    3.7  56.1k Reviews     6L Salaries   300 Jobs
4                Capgemini    3.7  47.8k Reviews   4.7L Salaries  1.7k Jobs
5                HDFC Bank    3.8  45.4k Reviews   1.5L Salaries   239 Jobs
6                  Infosys    3.5  44.2k Reviews   5.1L Salaries  1.6k Jobs
7               ICICI Bank    4.0  43.3k Reviews   1.5L Salaries    57 Jobs
8                  HCLTech    3.4  41.1k Reviews   3.6L Salaries   374 Jobs
9            Tech Mahindra    3.4  39.4k Reviews   2.8L Salaries   489 Jobs
10                 Genpact    3.7  37.4k Reviews   2.2L Salaries   346 Jobs
11         Teleperformance    3.8  33.7k Reviews  93.6k Salaries   524 Jobs
12               Axis Bank    3.7  29.3k Reviews     1L Salaries   777 Jobs
13  Concentrix Corporation    3.6  29.3k Reviews   1.3L Salaries   104 Jobs
14                  Amazon    4.0  28.2k Reviews   1.4L Salaries    2k Jobs
15                     Jio    4.2  27.7k Reviews  61.4k Salaries    55 Jobs
16              iEnergizer    4.7    26k Reviews  23.4k Salaries    50 Jobs
17         Reliance Retail    3.9    25k Reviews  69.1k Salaries    74 Jobs
18                     IBM    3.9  24.1k Reviews   2.1L Salaries  2.6k Jobs
19             LTIMindtree    3.7  23.4k Reviews   1.9L Salaries   414 Jobs

In [ ]:
df.shape

(20, 5)

In [78]:
final = pd.DataFrame()
for j in range(1,11):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url,headers=headers).text
    
    soup = BeautifulSoup(webpage,'lxml')
    company = soup.find_all('div',class_='companyCardWrapper')

    name = []
    rating = []
    reviews = []
    salaries = []
    jobs = []
    for i in company:
        name.append(i.find('h2',class_='companyCardWrapper__companyName').text.strip())
        rating.append(i.find(class_='rating_star_container').find(class_="rating_text rating_text--md").text.strip())
        salaries.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[1].text)
        reviews.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[0].text)
        jobs.append(i.find('div',class_='companyCardWrapper__tertiaryInformation').find_all('a',class_='companyCardWrapper__ActionWrapper')[3].text)
        
    d = {'name': name, 'rating': rating, 'reviews': reviews, 'salaries': salaries, 'jobs': jobs}

    df = pd.DataFrame(d)
    final = pd.concat([final, df],ignore_index=True)

In [79]:
final.shape

(200, 5)